.Wrapper {
  height: calc(100vh - 100px);
  background: url('../../assets/img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  @media (max-width: 768px) {
    justify-content: center;
    height: auto;
    padding: 100px 0;
  }
  @media (max-width: 480px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.ContentBlock {
  @media (max-width: 480px) {
    align-items: center;
  }
}
.Title {
  max-width: 380px;
  text-align: right;
  color: #fdd000;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @media (max-width: 768px) {
    text-align: center;
  }
  @media (max-width: 480px) {
    font-size: 30px;
    line-height: 34px;
  }
}
.Text {
  margin-top: 50px;
  max-width: 380px;
  text-align: right;
  color: #dfdfdf;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.2px;
  @media (max-width: 768px) {
    text-align: center;
  }
  @media (max-width: 480px) {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
  }
}
