.Wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  @media (max-width: 1280px) {
    grid-template-columns: 50% 50%;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
