.Wrapper {
  background-color: #272829;
  min-height: calc(100vh - 160px);
}
.Container {
  max-width: 400px;
  margin: 25% auto;
}
.Months {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
  }
}
.MonthsText {
  font-size: 18px;
  line-height: 20px;
  color: #dfdfdf;
}
.CalendarContainer {
  margin-top: 40px;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 30px;
}
.DaysOfTheWeek {
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
  }
  &::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
  }
}
.DayOftheWeek {
  color: #dfdfdf;
  padding: 2px 5px;
}
