.Wrapepr {
  max-width: 1160px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LogoBlock {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.LogoLeftPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 6px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  background-color: #fdd000;
  color: #3d3d3d;
  @media (max-width: 480px) {
    padding: 0px 5px;
    font-size: 14px;
    line-height: 20px;
  }
}
.LogoRightPart {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #3d3d3d;
  @media (max-width: 480px) {
    font-size: 20px;
    line-height: 14px;
  }
  span {
    font-size: 60px;
    line-height: 60px;
    @media (max-width: 480px) {
      font-size: 30px;
      line-height: 20px;
    }
  }
}
.Menu {
  display: flex;
  justify-content: space-between;
}
.Item {
  position: relative;
  a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.Item + .Item {
  margin-left: 33px;
}
// .Item a.ItemActive {
//    color: red;
// }
.Item a.ItemActive::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fdd000;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
