.Week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 30px;
  justify-items: center;
  margin-bottom: 30px;
  @media (max-width: 1024px) {
    grid-column-gap: 10px;
    margin-bottom: 10px;
  }
}
